html
  scroll-behavior: smooth

body
  font-family: 'Lato', sans-serif
  font-variant-numeric: lining-nums proportional-nums
  font-weight: 400
  font-size: 16px
  min-width: 375px
  background: #ECF1F5
  color: #333333

ul
  list-style: none
  margin: 0
  padding: 0

a
  color: inherit
  text-decoration: none

input, button, select, textarea
  outline: none
  border: 0
  border-radius: 0

button
  cursor: pointer

input, textarea
  background: transparent

.wrapper
  position: relative
  overflow: hidden
  margin: 0 auto

.container
  position: relative
  z-index: 5
  max-width: 1190px
  width: 100%
  margin: 0 auto
  padding: 0 10px

.title
  font-size: 48px
  font-family: 'M PLUS Rounded 1c'
  font-weight: 700
  line-height: 1.1

.subtitle
  font-size: 16px
  font-weight: 400

.fancybox__container
  --fancybox-bg: rgba(0,0,0,.8)
.fancybox__backdrop
  backdrop-filter: blur(12px)

.video
  position: relative
  display: block
  &::before
    content: ''
    width: 100px
    height: 100px
    border-radius: 100%
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    background: rgba(0, 0, 0, 0.3) url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.5 13.4019C29.5 14.5566 29.5 17.4434 27.5 18.5981L12.5 27.2583C10.5 28.413 8 26.9697 8 24.6603L8 7.33974C8 5.03034 10.5 3.58697 12.5 4.74167L27.5 13.4019Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center
    backdrop-filter: blur(9px)
    z-index: 10

.overflow
  overflow: hidden

.video-popup
  display: none
  padding: 0
  max-width: 1280px
  width: 100%
  &__iframe
    position: relative
    padding-bottom: 56.5%
    iframe
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100% !important
      height: 100% !important
