@media(max-width: 1023px)
  .container
    max-width: 768px

  .header-btn,
  .header-nav
    display: none

  .header-burger
    width: 24px
    height: 24px
    @include flexbox
    align-items: center
    justify-content: center
    flex-direction: column
    gap: 5px
    cursor: pointer
    span
      display: block
      width: 20px
      height: 2px
      background: #fff
      border-radius: 2px

  .header.open
    height: 100vh
    .header-burger
      span:nth-child(1)
        transform: rotate(45deg) translate(5px, 5px)
      span:nth-child(2)
        opacity: 0
      span:nth-child(3)
        transform: rotate(-45deg) translate(5px, -5px)
    .header-nav
      display: flex
      width: 100%
      flex-direction: column
      font-size: 18px
      gap: 40px
      margin-top: 40px
      span
        display: block
    .header-btn
      display: block
      width: 100%
      margin-top: 40px
      text-align: center
      margin-bottom: 20px

  .contact-maskot
    left: initial

  .contact-head
    flex-direction: column
    padding: 30px

  .contact-labels
    align-items: flex-start
    margin-top: 20px
    li
      text-align: left

  .contact .container
    padding: 0

  .contact
    padding-top: 0

  .gallery-slider
    max-width: 680px
    height: 400px

  .tickets-item.super-vip .tickets-head img
    width: 154px
    right: 7px
    top: 23px
  .tickets-item.super-vip .tickets-head
    margin-left: -20px
    margin-top: -20px
    margin-right: -20px
    padding: 20px 20px 15px
    width: calc(100% + 40px)
  .tickets-item
    padding: 20px
  .tickets-head
    padding-bottom: 15px
  .tickets-head b
    position: relative
    z-index: 5
    font-size: 14px
  .tickets-head h3
    font-size: 41px
  .tickets-head span
    font-size: 14px
    width: 86px
    height: 33px
    line-height: 33px
  .tickets-list
    font-size: 14px
    line-height: 20px
  .tickets-list li
    margin-top: 15px
    padding-left: 26px
    &::before
      width: 20px
      height: 20px
  .tickets-btn
    font-size: 16px
    line-height: 20px
    padding: 14px 0
  .tickets-list
    margin: 15px 0 20px

  .hero-main
    padding: 60px
    overflow: hidden
  .hero-logo
    margin: 0 auto
  .hero-place
    text-align: center
    margin: 20px auto 0
    position: relative
    z-index: 5
  .hero-text
    text-align: center
    margin: 30px auto 0
    position: relative
    z-index: 5
  .hero-btn
    width: 100%
    margin-top: 30px
    position: relative
    z-index: 5
  .hero-maskot
    width: 430px
    right: -220px
    bottom: -110px
  .hero-age
    font-size: 14px
    top: 20px
    right: 20px
    padding: 10px 16px
