@media(max-width: 576px)
  .footer .container
    justify-content: center

  .footer-partners
    width: 100%
    margin: 20px 0
    justify-content: center

  .footer-info
    order: 1
    flex-direction: column
    gap: 20px
    text-align: center

  .footer-social
    justify-content: center
    margin: 0
    order: -1
