@media(max-width: 767px)
  :root
    --radius: 30px

  .container
    max-width: 100%

  .header
    top: 0
    padding: 10px 20px

  .footer
    padding: 40px 0
    &-info
      width: auto
    &-social
      width: 100%
      justify-content: flex-start
      margin-top: 20px

  .contact-labels li
    font-size: 16px

  .contact-maskot
    right: -40px

  .contact-head .subtitle
    max-width: 190px

  .contact-map
    height: 300px

  .title
    font-size: 36px

  .subtitle
    font-size: 16px

  .slider-item
    padding: 40px 20px
    font-size: 16px
    h3
      font-size: 32px

  .slider
    padding: 30px 10px 108px
  .slider .splide__arrows
    bottom: 20px

  .gallery
    padding: 80px 0
    &-slider
      height: 300px
      max-width: calc(100% - 60px)

  .video::before
    width: 80px
    height: 80px

  .guest::before
    top: -3px
    left: -3px
    right: -3px
    bottom: -3px
  .guest
    margin: 13px
    min-height: calc(100vh - 26px)
    padding: 60px 0

  .tickets-grid
    gap: 10px
    margin-top: 30px
  .tickets-item
    width: 100%

  .tickets-item.super-vip .tickets-head img
    width: 120px
    right: -25px
    top: 53px

  .tickets
    padding: 40px 10px 20px
    &-star-1,
    &-star-2,
    &-star-3
      display: none

  .partners
    padding: 80px 0
    min-height: 0
    &-head
      width: 100%
  .partners-big .splide__slide
    width: 190px
  .partners-small
    margin-top: 20px
    .splide__slide
      width: 130px

  .live
    padding: 140px 0
    &-video
      margin-top: 20px

  .hero
    min-height: 0
    padding: 120px 0
  .hero-main
    padding: 30px 20px 130px
  .hero-place
    font-size: 24px
    margin-top: 15px
  .hero-text
    font-size: 14px
    line-height: 1.5
    margin-top: 15px
  .hero-btn
    margin-top: 15px
    font-size: 14px
    padding: 9px
  .hero-maskot
    width: 180px
    left: 0
    right: 0
    margin: 0 auto
    bottom: -75px
  .hero-logo
    display: none
    &-mob
      display: block

  .hero-age
    padding: 8px 14px
    top: 15px
    right: 15px
    font-size: 12px
