<header class="header">
  <div class="container">
    <a href="/" class="header-logo"><img src="img/svg/logo.svg" alt=""></a>
    <div class="header-burger"><span></span><span></span><span></span></div>
    <ul class="header-nav">
      <li><a href="/">Главная страница</a></li>
      <li><a href="#">Правила посещения</a></li>
      <li><a href="#">Для партнёров</a></li>
      <li><a href="#">Аллея авторов</a></li>
      <li><a href="#">Косплей</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
    <a href="#tickets" class="header-btn">Купить билеты</a>
  </div>
</header>