<div class="popup" id="popup-rules">
  <h3 class="popup-title">Правила посещения</h3>
  <div class="popup-content">
    <div class="popup-message">
      <h4>Уважаемые посетители!</h4>
      <p>Благодарим Вас за посещение фестиваля ISEKAI FEST 2024 и напоминаем Вам, что на территории Мероприятия Вы должны соблюдать настоящие Правила, которые установлены в целях обеспечения Вашего безопасного и комфортного пребывания.</p>
    </div>
    <p>1. Посетители Мероприятия обязаны быть взаимно вежливы, бережно относиться к оборудованию и благоустройству Мероприятия, соблюдать чистоту, общественный порядок и требования настоящих Правил.</p>
    <p>2. Вход на Мероприятие осуществляется на основании бланка билета или распечатанного электронного билета установленного образца. Билет действителен для входа 1 раз. Для повторного входа необходимо получить браслет на руку.</p>
    <div class="popup-danger">Посещение Мероприятия детьми до 12 лет возможно только при условии их сопровождения совершеннолетними взрослыми.</div>
    <p>4. Вход на территорию Мероприятия при предъявлении на контрольном пункте онлайн или распечатанного в развернутом виде билета или приглашения,  дающего право на посещение. При себе рекомендовано иметь документ, удостоверяющий личность.</p>
    <p>5. При входе на территорию Мероприятия посетители должны пройти специальный контроль и личный осмотр, включающий в себя осмотр ручной клади и личных вещей (ФЗ №35 от 06.03.2006 г., ФЗ №298 от 15.11.2010 г., ФЗ №150 от 13.12.1996 г. «Об оружии»).</p>
    <p>6. В случае возникновения чрезвычайной ситуации на территории Мероприятия посетители обязаны безусловно выполнять требования сотрудников охраны Мероприятия, полиции и МЧС.</p>
    <p>7. При обнаружении на территории Мероприятия оставленных вещей или подозрительных предметов посетитель обязан незамедлительно сообщить об этом работнику Мероприятия.</p>
    <div class="popup-accordion danger">
      <div class="popup-accordion__title">На территории Мероприятия запрещено:</div>
      <div class="popup-accordion__content">
        <ul>
          <li>вносить любые виды огнестрельного, газового и холодного оружия;</li>
          <li>проносить взрывчатые вещества, легковоспламеняющиеся материалы, пиротехнику всех видов, отравляющие, ядовитые и едкие вещества;</li>
          <li>приносить пиротехнические устройства (фейерверки, петарды и т.п.);</li>
          <li>проносить и употреблять спиртные напитки, наркотические и психотропные вещества, находиться в состоянии алкогольного, наркотического или токсического опьянения;</li>
          <li>разводить костры на территории Мероприятия;</li>
          <li>входить на территорию Мероприятия с животными;</li>
          <li>входить на территории и в помещения, закрытые для посещения, пользоваться служебными, техническими входами и проездами;</li>
          <li>вносить на территорию Мероприятия скейтборды, ролики, самокаты, велосипеды, гироскутеры, сигвеи, электросамокаты и иные транспортные и спортивные средства;</li>
          <li>производить действия, которые могли бы стать источником угрозы имуществу Мероприятия, жизни или здоровью людей, находящихся на территории Мероприятия, источником препятствий или нарушений в обеспечении безопасности на территории Мероприятия;</li>
          <li>организовывать и проводить на территории Мероприятия несанкционированные митинги, демонстрации, шествия, пикетирования, а также другие несогласованные рекламные акции и флешмобы, включая демонстрацию какой-либо политической атрибутики;</li>
          <li>прослушивать аудиотехнику через громкоговорители, использовать средства звукоусиления и играть на музыкальных инструментах;</li>
          <li>использовать территорию Мероприятия без письменного разрешения его администрации для занятия коммерческой, рекламной и иной деятельностью, связанной с получением дохода, как прямо, так и косвенно;</li>
          <li>наносить надписи, расклеивать и распространять печатную продукцию, плакаты, флаеры и другую продукцию информационного или рекламного содержания, вести пропагандистскую деятельность;</li>
          <li>осуществлять любую агитационную деятельность, адресованную неограниченному кругу лиц;</li>
          <li>заниматься попрошайничеством, загрязнять и засорять территорию Мероприятия;</li>
          <li>оставлять детей до 12 лет без присмотра;</li>
          <li>находиться в пачкающей одежде, с багажом, предметами, продуктами, которые могут испачкать оборудование, посетителей и повредить благоустройству Мероприятия;</li>
          <li>курение на территории фестиваля разрешено исключительно в специально отведенных местах;</li>
          <li>препятствовать выполнению служебных обязанностей работниками Мероприятия, не выполнять их требования по соблюдению настоящих Правил, поддержанию общественного порядка и обеспечению пропускного и внутриобъектового режима.</li>
          <li>запрещено демонстрировать символику ЛГБТ и пропагандировать нетрадиционные сексуальные отношения и (или) предпочтения либо смену пола *</li>
        </ul>
        <small>* в том числе путем:<br>
        — Распространения информации и (или) совершения публичных действий, направленных на формирование нетрадиционных сексуальных установок, привлекательности нетрадиционных сексуальных отношений и (или) предпочтений либо смены пола или искаженного представления о социальной равноценности традиционных и нетрадиционных сексуальных отношений и (или) предпочтений,<br>
        — Навязывания информации о нетрадиционных сексуальных отношениях и (или) предпочтениях либо смене пола, вызывающей интерес к таким отношениям и (или) предпочтениям либо смене пола.<br>
        — Запрещается пропаганда педофилии в том числе путем распространения информации, направленной на обоснование и (или) оправдание педофилии или формирование привлекательности педофилии, либо навязывание информации о педофилии, вызывающей интерес к педофилии.</small>
      </div>
    </div>
    <div class="popup-accordion">
      <div class="popup-accordion__title">Посетители могут быть не допущены на территорию Мероприятия либо удалены с нее без возмещения затрат на приобретение билетов в следующих случаях:</div>
      <div class="popup-accordion__content">
        <ul>
          <li>при отказе пройти личный досмотр, в том числе предъявить для досмотра ручную кладь и личные вещи;</li>
          <li>в случае нахождения в состоянии алкогольного, наркотического или токсического опьянения;</li>
          <li>при попытке пройти на территорию Мероприятия с запрещенными к проносу предметами;</li>
          <li>при совершении действий, нарушающих общественный порядок, а также при занятии попрошайничеством;</li>
          <li>при неисполнении требований настоящих Правил и должностных лиц в соответствии с действующим законодательством РФ.</li>
        </ul>
      </div>
    </div>
    <p>10. В случае необходимости нарушители могут быть переданы сотрудникам правоохранительных органов.</p>
    <div class="popup-accordion danger">
      <div class="popup-accordion__title">На территории Мероприятия посетители имеют возможность</div>
      <div class="popup-accordion__content">
        <ul>
          <li>проносить напитки в пластиковой прозрачной закрытой заводской упаковке объемом до 1 литра;</li>
          <li>при необходимости обратиться за экстренной медицинской помощью;</li>
          <li>получать информацию о проводимом Мероприятии;</li>
          <li>проинформировать работников Мероприятия о недостатках в организации проводимого мероприятия.</li>
        </ul>
      </div>
    </div>
    <p>12. Ответственность за нарушение Правил посещения Мероприятия: После получения предупреждения при невозможности устранения нарушения на месте нарушитель удаляется с территории Мероприятия. Удаление с территории Мероприятия производится сотрудниками Мероприятия при исполнении служебных обязанностей или сотрудниками полиции УМВД по Красногорскому району.</p>
    <div class="popup-message warning">
      <h4>ВНИМАНИЕ!</h4>
      <p>На мероприятии будет вестись фото- и видеосъёмка. Принимая участие в мероприятии, вы даёте согласие на её проведение, а также на дальнейшее использование компанией ООО "ДЭЕП" ваших изображений, в том числе обнародование, воспроизведение, продажу и иное отчуждение, публичный показ, импорт в целях распространения, сдачу в прокат, сообщение в эфир и по кабелю, переработку, доведение и сообщение для всеобщего сведения (в том числе через интернет) произведений, в которых использованы ваши изображения. Указанные права действуют без ограничения по времени и на территории всего мира. ООО "ДЭЕП"" также вправе передавать все указанные права третьим лицам в целях рекламы и продвижения товаров и услуг ООО "ДЭЕП".</p>
    </div>
  </div>
</div>

<div class="popup" id="popup-partner">
  <h3 class="popup-title">Для партнёров</h3>
  <div class="popup-tabs__wrapper">
    <ul class="popup-tabs popup-tabs__partner">
      <li class="active" data-id="1">Маркет</li>
      <li data-id="2">Фудзона</li>
      <li data-id="3">Стенды</li>
      <li data-id="4">Спонсорство</li>
    </ul>
  </div>
  <div class="popup-tab active" data-id="1">
    <div class="popup-content">
      <div class="popup-message">
        <p>Isekai Fest 2024 — ежегодный фестиваль азиатской поп-культуры в третий раз соберeт вместе всех поклонников манги, аниме, ранобэ, дунхуа и дорам на площадке киноконцертного комплекса «Мосфильм».</p>
        <p>Для того, чтобы принять участие в фестивале Isekai Fest 2024, необходимо прислать заявку на участие в свободной форме по адресу <a href="mailto:isekai_commercial@deep-ent.com">isekai_commercial@deep-ent.com</a> с пометкой “Маркет”</p>
      </div>
      <div class="popup-price__title">Стоимость аренды мест в торговой зоне:</div>
      <div class="popup-accordion">
        <div class="popup-accordion__title">Торговое место без застройки. (1х2)</div>
        <div class="popup-accordion__content">
          <p>Площадь под стол, стул (стол стул не входит в стоимость, можно арендовать за доп.плату)</p>
          <b>Стоимость участия с торговым стендом без застройки 42 000 рублей.</b>
          <p>В участие входит: </p>
          <ul>
            <li>аренда торгового места все дни фестиваля</li>
            <li>статус участника гик маркета и упоминание в анонсе торговой зоны в группе фестиваля </li>
            <li>2 бейджа участника</li>
          </ul>
        </div>
      </div>
      <div class="popup-accordion">
        <div class="popup-accordion__title">Торговое место Standart 6 кв.м. (3х2)</div>
        <div class="popup-accordion__content">
          <p>Стандартная застройка стенда конструктивом Октанорм (стена  2х2,5, стол, стул, розетка)</p>
          <b>Стоимость участия с торговым стендом 6 кв.м 96 000 рублей.</b>
          <p>В участие входит: </p>
          <ul>
            <li>аренда торгового места все дни фестиваля</li>
            <li>статус участника гик маркета и  упоминание в анонсе торговой зоны в группе фестиваля </li>
            <li>3 бейджа участника</li>
          </ul>
        </div>
      </div>
      <div class="popup-accordion">
        <div class="popup-accordion__title">Торговое место Plus 6 кв.м. (3х2)</div>
        <div class="popup-accordion__content">
          <p>Застройка стенда в стиле фестиваля с уникальным лого/брендированием (брендированная стена 2х2,5, стол, стул, розетка)</p>
          <b>Стоимость участия с торговым стендом 6 кв.м 120 000 рублей.</b>
          <p>В участие входит: </p>
          <ul>
            <li>аренда торгового места все дни фестиваля</li>
            <li>статус участника гик маркета и  упоминание в анонсе торговой зоны в группе фестиваля </li>
            <li>3 бейджа участника</li>
          </ul>
        </div>
      </div>
      <div class="popup-accordion">
        <div class="popup-accordion__title">Торговое место Standart 9 кв.м. (3х3)</div>
        <div class="popup-accordion__content">
          <p>Стандартная застройка стенда конструктивом Октанорм (стена  3х2,5, стол, стул, розетка)</p>
          <b>Стоимость участия с торговым стендом 9 кв.м 114 000 рублей.</b>
          <p>В участие входит: </p>
          <ul>
            <li>аренда торгового места все дни фестиваля</li>
            <li>статус участника гик маркета и  упоминание в анонсе торговой зоны в группе фестиваля  </li>
            <li>5 бейджа участника</li>
          </ul>
        </div>
      </div>
      <div class="popup-accordion">
        <div class="popup-accordion__title">Торговое место Plus 9 кв.м. (3х3)</div>
        <div class="popup-accordion__content">
          <p>Застройка стенда в стиле фестиваля с уникальным лого/брендированием (брендированная стена 3х2,5, стол, стул, розетка)</p>
          <b>Стоимость участия с торговым стендом 9 кв.м 144 000 рублей.</b>
          <p>В участие входит: </p>
          <ul>
            <li>аренда торгового места все дни фестиваля</li>
            <li>статус участника гик маркета и  упоминание в анонсе торговой зоны в группе фестиваля  </li>
            <li>5 бейджа участника</li>
          </ul>
        </div>
      </div>
      <div class="popup-accordion">
        <div class="popup-accordion__title">Торговое место Standard 15 кв.м. (5х3)</div>
        <div class="popup-accordion__content">
          <p>Стандартная застройка стенда конструктивом Октанорм (стена  5х2,5, стол, стул, розетка)</p>
          <b>Стоимость участия с торговым стендом 15 кв.м 180 000 рублей.</b>
          <p>В участие входит: </p>
          <ul>
            <li>аренда торгового места все дни фестиваля</li>
            <li>статус участника гик маркета и  упоминание в анонсе торговой зоны в группе фестиваля  </li>
            <li>6 бейджей участника</li>
          </ul>
        </div>
      </div>
      <div class="popup-accordion">
        <div class="popup-accordion__title">Торговое место Plus 15 кв.м. (5х3)</div>
        <div class="popup-accordion__content">
          <p>Застройка стенда в стиле фестиваля с уникальным лого/брендированием (брендированная стена 5х2,5, подсобка (1х1), стол, стул,розетка)</p>
          <b>Стоимость участия с торговым стендом 15 кв.м 240 000 рублей.</b>
          <p>В участие входит: </p>
          <ul>
            <li>аренда торгового места все дни фестиваля</li>
            <li>статус участника гик маркета и  упоминание в анонсе торговой зоны в группе фестиваля  </li>
            <li>6 бейджей участника</li>
          </ul>
        </div>
      </div>
      <div class="popup-message warning"><h4>Все цены на аренду площади включают НДС 20%</h4></div>
    </div>
  </div>
  <div class="popup-tab" data-id="2">
    <div class="popup-content">
      <div class="popup-message">
        <p>Isekai Fest 2024 — ежегодный фестиваль азиатской поп-культуры в третий раз соберeт вместе всех поклонников манги, аниме, ранобэ, дунхуа и дорам на площадке киноконцертного комплекса «Мосфильм».</p>
        <p>Для того, чтобы принять участие в фестивале Isekai Fest 2024, необходимо прислать заявку на участие в свободной форме по адресу <a href="mailto:isekai_commercial@deep-ent.com">isekai_commercial@deep-ent.com</a> с пометкой “Фудкорт”</p>
      </div>
      <div class="popup-accordion">
        <div class="popup-accordion__title">Место 4 кв.м. (2х2)</div>
        <div class="popup-accordion__content">
          <p>Стандартный деревянный корнер с крышей, прилавком и розеткой</p>
          <b>Стоимость участия в фуд зоне 96 000 рублей.</b>
          <p>В участие входит: </p>
          <ul>
            <li>аренда места все дни фестиваля</li>
            <li>статус участника фудзоны и  упоминание в анонсе торговой зоны в группе фестиваля  </li>
            <li>6 бейджей участника</li>
          </ul>
        </div>
      </div>
      <div class="popup-message warning"><h4>Все цены на аренду площади включают НДС 20%</h4></div>
    </div>
  </div>
  <div class="popup-tab" data-id="3">
    <div class="popup-content">
      <div class="popup-message">
        <p>Isekai Fest 2024 — ежегодный фестиваль азиатской поп-культуры в третий раз соберeт вместе всех поклонников манги, аниме, ранобэ, дунхуа и дорам на площадке киноконцертного комплекса «Мосфильм».</p>
        <p>Для того, чтобы принять участие в фестивале Isekai Fest 2024, необходимо прислать заявку на участие в свободной форме по адресу <a href="mailto:isekai_commercial@deep-ent.com">isekai_commercial@deep-ent.com</a> с пометкой “Стенд”</p>
      </div>
      <p>Для участников фестиваля доступны стенды от 10 кв.м и торговые места от 2 кв.м </p>
      <p>Стоимость аренды площади от 10 кв.м до 30 кв.м - 12 000 руб. за 1 кв.м</p>
      <div class="popup-price__title">В зоне партнеров доступно участие, как с собственным стендом стандартного размера, так и участие со свободной площадью:</div>
      <div class="popup-accordion">
        <div class="popup-accordion__title">Участие с собственным стендом 30 кв.м (5х6)</div>
        <div class="popup-accordion__content">
          <b>Стоимость участия в зоне партнеров 30 кв.м 360 000 рублей.</b>
          <p>В участие входит: </p>
          <ul>
            <li>аренда площади под застройку 30 кв.м (застройка, подключение к электричеству и интернет не входит в стоимость участия)</li>
            <li>статус партнера фестиваля и анонс в группе фестиваля</li>
            <li>10 бейджей участников</li>
          </ul>
        </div>
      </div>
      <div class="popup-accordion">
        <div class="popup-accordion__title">Участие с собственным стендом 63 кв.м (7х9)</div>
        <div class="popup-accordion__content">
          <b>Стоимость участия в зоне партнеров 63 кв.м 600 000 рублей.</b>
          <p>В участие входит: </p>
          <ul>
            <li>аренда площади под застройку 63 кв.м (застройка, подключение к электричеству и интернет не входит в стоимость участия) </li>
            <li>статус партнера фестиваля и анонс в группе фестиваля </li>
            <li>15 бейджей участников</li>
          </ul>
        </div>
      </div>
      <div class="popup-accordion">
        <div class="popup-accordion__title">Участие с собственным стендом 81 кв.м (9х9)</div>
        <div class="popup-accordion__content">
          <b>Стоимость участия в зоне партнеров 81 кв.м 840 000 рублей.</b>
          <p>В участие входит: </p>
          <ul>
            <li>аренда площади под застройку 81 кв.м (застройка, подключение к электричеству и интернет не входит в стоимость участия) </li>
            <li>статус партнера фестиваля и анонс в группе фестиваля </li>
            <li>20 бейджей участников </li>
          </ul>
        </div>
      </div>
      <div class="popup-message warning"><h4>Все цены на аренду площади включают НДС 20%</h4></div>
    </div>
  </div>
  <div class="popup-tab" data-id="4">
    <div class="popup-content">
      <p><b>Спонсорская поддержка фестиваля Isekai Fest</b> — отличная возможность заявить о своей компании и ее продуктах перед аудиторией конечных потребителей.</p>
      <p>Спонсор фестиваля получает рекламные места на площадке, в кинозале, где проходят эксклюзивные показы, встречи с звездными гостями и лекции от легенд индустрии, а также на официальном сайте фестиваля и в социальных сетях.</p>
      <p>Если Ваша организация заинтересована в спонсировании фестиваля, пожалуйста, свяжитесь с нами по адресу <a href="mailto:isekai_commercial@deep-ent.com">isekai_commercial@deep-ent.com</a>, и мы вышлем Вам Спонсорское предложение.</p>
    </div>
  </div>
</div>

<div class="popup" id="popup-cosplay">
  <h3 class="popup-title">Косплей</h3>
  <div class="popup-tabs__wrapper">
    <ul class="popup-tabs popup-tabs__cosplay">
      <li class="active">Правила</li>
      <li>Оставить заявку</li>
    </ul>
  </div>
  <div class="popup-content">
    <div class="popup-danger">Заявки принимаются с 12 мая по 15 июля включительно до 23.59</div>
    <div class="popup-content" id="rules">
      <p>1. Косплеер обязуется участвовать в мероприятии в том образе, который указывает в заявке. В случае, если вы хотите изменить образ, заранее свяжитесь с администрацией фестиваля (isekaifest_cosplay@deep-ent.com).</p>
      <p>2. Если вы получили аккредитацию, но не можете приехать на мероприятие, просим написать об этом администрации фестиваля (isekaifest_cosplay@deep-ent.com).</p>
      <p>3. Аккредитация выдаётся на реальное имя косплеера по паспорту/свидетельство о рождении, проход на фестиваль осуществляется по действующим документам (паспорт, водительские права, военный билет; для лиц младше 14 лет — свидетельство о рождении). Передавать право на посещение и участие в фестивале третьим лицам нельзя.</p>
      <p>4. В месте проведения фестиваля строго запрещено курить, распивать спиртные напитки и употреблять запрещённые вещества. Кроме этого, запрещена пропаганда насилия и суицида и иные формы пропаганды, а также демонстрация обнажённого тела или эксгибиционизм, недопустимое поведение в общественных местах. А также любая символика/флаги/гербы и лозунги реально существующих и действующих сообществ и организаций.</p>
      <p>5. Запрещено рассыпать на сцене конфетти, серпантин и сыпучие вещества, а также разливать жидкости и использовать иной реквизит, который может быть опасен или помешает дальнейшей работе сцены и выступлениям других участников.</p>
      <p>6. Косплееры моложе 12 лет допускаются к участию только в сопровождении родителя или другого ответственного лица.</p>
      <p>7. Запрещено вести фото - и видеосъёмку в гримёрках.</p>
      <p>8. К групповым выступлениям допускаются команды от двух до шести человек.</p>
      <p>9. Подавая заявку, косплеер автоматически даёт согласие на фото- и видеосъёмку своего пребывания на площадках фестиваля, а также дальнейшую публикацию фото - и видео материалы в группе, на сайте мероприятия и в рекламных материалах.</p>
      <div class="popup-accordion">
        <div class="popup-accordion__title">Администрация имеет право отклонить заявку или лишить вас аккредитации в любой момент в случае несоблюдения правил:</div>
        <div class="popup-accordion__content">
          <p>проявления неуважения к оргкомитету или к другим участникам,</p>
          <ul>
            <li>оказания давления на оргкомитет, других участников или жюри, </li>
            <li>при некорректном поведении на самом мероприятии, </li>
            <li>жалобе от зрителей и других  участников на поведение косплеера, </li>
            <li>нахождение в алкогольном или наркотическом состоянии в дни мероприятия </li>
            <li>в случае нарушения законодательства РФ.</li>
          </ul>
        </div>
      </div>
      <p>10. Если вы подаёте заявку на аккредитацию, вы автоматически соглашаетесь с указанными правилами и обязуетесь им следовать.</p>
      <p>11. Аккредитованным косплеерам предоставляется бесплатный вход на фестиваль, доступ в гримёрную комнату, возможность прийти на площадку заранее, возможность принять участие в конкурсе и выиграть приз от фестиваоя или от наших звёздных гостей.</p>
      <p>12. К рассмотрению принимаются костюмы из любых существующих вселенных, а также оригинальные образы.</p>
      <p>13. Костюмы занявшие призовое место на прошедших фестивалях ISEKAI не допускаются.</p>
      <p>14. Награждение 10 и 11 августа будет проходить вечером на главной сцене мероприятия. Награды косплеерам будут вручаться лично.</p>
      <p>15. При выборе победителей наше звёздное жюри будет руководствоваться только своим собственным мнением и правилами фестиваля</p>
      <h4>Крайний срок ответа на заявку 25 июля. Если вы не получили письмо с ответом проверьте список прошедших участников (будет опубликован отдельным постом и в обсуждениях), а также можете написать нам на почту <a href="mailto:isekaifest_cosplay@deep-ent.com">isekaifest_cosplay@deep-ent.com</a></h4>
      <p>В случае появления вопросов, вы можете задать их в соответствующей теме в нашем сообществе <a href="https://vk.com/topic-215265276_48815488" target="_blank">https://vk.com/topic-215265276_48815488</a> или написать администрации фестиваля isekaifest_cosplay@deep-ent.com</p>
    </div>
    <div class="popup-message">
      <p>Форма заявки для одиночного дефиле</p>
      <p><a href="https://forms.yandex.ru/u/66211f2a90fa7b13d58bb6d1" target="_blank">https://forms.yandex.ru/u/66211f2a90fa7b13d58bb6d1</a></p>
    </div>
    <div class="popup-message">
      <p>Форма заявки для группового дефиле</p>
      <p><a href="https://forms.yandex.ru/u/662122d73e9d0815b903a9b5" target="_blank">https://forms.yandex.ru/u/662122d73e9d0815b903a9b5</a></p>
    </div>
    <div class="popup-message">
      <p>Манекены</p>
      <p><a href="https://forms.yandex.ru/u/662165fbf47e7327cb9bde9d" target="_blank">https://forms.yandex.ru/u/662165fbf47e7327cb9bde9d</a></p>
    </div>
  </div>
</div>

<div class="popup" id="popup-contacts">
  <h3 class="popup-title">Контакты</h3>
  <div class="popup-content">
    <p>Организаторы ISEKAI FEST – проект РуАниме (DEEP).<br> <a href="https://deep-ent.com/ru/deep" target="_blank">https://deep-ent.com/ru/deep</a></p>
    <div class="popup-message">
      <p>РуАниме (DEEP) – интернет-СМИ об Аниме, Манге, Дорамах и Дунхуа.<br> Мы рассказываем об интересных событиях в этом мире и о своей работе.</p>
      <p>Смотрите тайтлы в нашей озвучке тут: <a href="https://vk.com/topic-201142575_46743038" target="_blank">https://vk.com/topic-201142575_46743038</a><br> Профессиональные актеры и знакомые голоса, высокое качество перевода и работы со звуком на распространённых онлайн-платформах!<br> <a href="https://vk.com/ruanime" target="_blank">https://vk.com/ruanime</a></p>
    </div>
    <div class="popup-social">
      <b>Соц.сети фестиваля:</b>
      <p>Наша почта: <a href="mailto:isekaifest@deep-ent.com">isekaifest@deep-ent.com</a></p>
      <ul>
        <li><a href="https://vk.com/isekaifest" target="_blank"><img src="img/svg/vk.svg" alt=""></a></li>
        <li><a href="https://t.me/isekai_fest" target="_blank"><img src="img/svg/tg.svg" alt=""></a></li>
      </ul>
    </div>
  </div>
</div>