.gallery
  padding: 120px 0
  display: flex
  flex-wrap: wrap
  align-items: center
  overflow: hidden
  .subtitle, .title
    text-align: center
  .subtitle
    margin-top: 12px
  &-slider
    margin: 50px auto 0
    height: 550px
    max-width: 970px
    width: 100%
  .splide__track
    overflow: initial
    height: 100%
  .splide__slide
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center
      border-radius: 30px
      transform: scale(.9)
      transition: .3s
      border: 1px solid #000
    iframe
      border-radius: 30px
      transform: scale(.9)
      transition: .3s
      border: 1px solid #000
    &.is-active
      iframe, img
        transform: scale(1)
