.live
  margin: 10px
  padding: 160px 0
  .title
    text-align: center
  &-iframe
    width: 970px
    margin: 40px auto 0
    border-radius: var(--radius)
    overflow: hidden
    padding-bottom: 56.25%
    position: relative
    iframe
      position: absolute
      top: 0
      left: 0
      width: 100% !important
      height: 100% !important
