.partners
  margin: 10px
  min-height: 840px
  padding: 160px 0
  background: #1E1E1E
  border-radius: var(--radius)
  color: #fff
  @include flexbox
  align-items: center
  overflow: hidden
  position: relative
  &-head
    width: 640px
    margin: 0 auto
    position: relative
    img
      position: absolute
      &:first-child
        top: -30px
        left: 0
      &:last-child
        right: 0
        bottom: -26px
  .title
    text-align: center
    background-image: linear-gradient(90deg, #50C8C3, #C841E1)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  &-item
    @include flexbox
    align-items: center
    justify-content: center
  .splide,
  .splide__track
    overflow: inherit
  &-big
    margin-top: 50px
    .splide__slide
      width: 240px
  &-small
    margin-top: 36px
    .splide__slide
      width: 174px
