{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="hero">
  <div class="container">
    <div class="hero-main">
      <div class="hero-age">12+</div>
      <img src="img/logo-color.png" alt="" class="hero-logo">
      <h3 class="hero-place">Центр кино “Мосфильм”<br> 10 - 11 августа 2024</h3>
      <p class="hero-text">Фестиваль азиатской поп-культуры Isekai Fest в третий раз соберëт вместе всех поклонников манги, аниме, ранобэ, дунхуа и дорам на площадке киноконцертного комплекса «Мосфильм». В прошлом году мероприятие посетило более 5000 человек — пора ставить новые рекорды!</p>
      <a href="#" class="hero-btn"><p>Купить билеты</p></a>
      <img src="img/hero-maskot.png" alt="" class="hero-maskot">
    </div>
  </div>
</section>

<section class="splide slider">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="slider-item">
          <h3>Программа</h3>
          <ul>
            <li>Лекции, мастер-классы и интерактивы, встречи с любимыми актёрами озвучки и автограф-сессии, стенды с активностями, фотозоны и многое другое;</li>
            <li>Главная сцена в настоящем съёмочном павильоне и бесконечный драйв   концерты, выступления гостей, K-pop танцы, анонсы новых релизов и просмотр сериалов прямо на большом экране «Синема Парка»;</li>
            <li>Грандиозный конкурс косплея и выставка костюмов — приходите посмотреть, записывайтесь поучаствовать;</li>
            <li>Блестящая аллея авторов и огромный маркет с мерчем и прочими трофеями, которые так и захочется унести домой (готовьте полки!);</li>
            <li>И самое главное — неповторимая атмосфера среди таких же фанатов и единомышленников, которые понимают!</li>
          </ul>
        </div>
      </li>
      <li class="splide__slide">
        <div class="slider-item">
          <h3>Еще слайд</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit omnis facere ipsum aperiam error sapiente dolores ea inventore quisquam doloribus provident corrupti unde molestiae saepe ab consectetur, ut atque necessitatibus?</p>
          <p>Consectetur iure nihil exercitationem hic magni. Hic libero veniam magni laudantium amet quae! Praesentium adipisci facere quis quasi sunt obcaecati, odit unde, repudiandae nulla ea fugit eaque odio numquam sit!</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="gallery">
  <div class="container">
    <h2 class="title">ПРИХОДИ НА<br> Isekai Fest 2024!</h2>
    <h3 class="subtitle">Главное оффлайн-событие РуАниме (DEEP)</h3>
    <div class="splide gallery-slider">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide"><iframe src="https://vk.com/video_ext.php?oid=-215265276&id=456239032&hd=2&hash=7c4e524c87e7ffed&autoplay=1" width="100%" height="100%" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe></li>
          <li class="splide__slide"><img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/programm2023-1024x814.png" alt="" loading="lazy"></li>
          <li class="splide__slide"><img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/photo_2023-08-22_11-11-22-768x1024.jpg" alt="" loading="lazy"></li>
          <li class="splide__slide"><img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/gallery-1-1024x586.jpg" alt="" loading="lazy"></li>
          <li class="splide__slide"><img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/gallery-2-1024x680.jpg" alt="" loading="lazy"></li>
          <li class="splide__slide"><img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/gallery-3-1024x680.jpg" alt="" loading="lazy"></li>
          <li class="splide__slide"><img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/gallery-4-1024x680.jpg" alt="" loading="lazy"></li>
          <li class="splide__slide"><img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/gallery-5-1024x680.jpg" alt="" loading="lazy"></li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}