{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="hero">
  <div class="container">
    <div class="hero-main">
      <div class="hero-age">12+</div>
      <img src="img/logo-color.png" alt="" class="hero-logo">
      <h3 class="hero-place">Центр кино “Мосфильм”<br> 10 - 11 августа 2024</h3>
      <p class="hero-text">Фестиваль азиатской поп-культуры Isekai Fest в третий раз соберëт вместе всех поклонников манги, аниме, ранобэ, дунхуа и дорам на площадке киноконцертного комплекса «Мосфильм». В прошлом году мероприятие посетило более 5000 человек — пора ставить новые рекорды!</p>
      <a href="#" class="hero-btn"><p>Купить билеты</p></a>
      <img src="img/hero-maskot.png" alt="" class="hero-maskot">
    </div>
  </div>
</section>

{% endblock %}