{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="hero">
  <div class="container">
    <div class="hero-main">
      <div class="hero-age">12+</div>
      <img src="img/logo-color.png" alt="" class="hero-logo">
      <h3 class="hero-place">Центр кино “Мосфильм”<br> 10 - 11 августа 2024</h3>
      <p class="hero-text">Фестиваль азиатской поп-культуры Isekai Fest в третий раз соберëт вместе всех поклонников манги, аниме, ранобэ, дунхуа и дорам на площадке киноконцертного комплекса «Мосфильм». В прошлом году мероприятие посетило более 5000 человек — пора ставить новые рекорды!</p>
      <a href="#tickets" class="hero-btn"><p>Купить билеты</p></a>
      <img src="img/hero-maskot.png" alt="" class="hero-maskot">
    </div>
  </div>
</section>

<section class="splide slider">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="slider-item">
          <h3>Программа</h3>
          <ul>
            <li>Лекции, мастер-классы и интерактивы, встречи с любимыми актёрами озвучки и автограф-сессии, стенды с активностями, фотозоны и многое другое;</li>
            <li>Главная сцена в настоящем съёмочном павильоне и бесконечный драйв   концерты, выступления гостей, K-pop танцы, анонсы новых релизов и просмотр сериалов прямо на большом экране «Синема Парка»;</li>
            <li>Грандиозный конкурс косплея и выставка костюмов — приходите посмотреть, записывайтесь поучаствовать;</li>
            <li>Блестящая аллея авторов и огромный маркет с мерчем и прочими трофеями, которые так и захочется унести домой (готовьте полки!);</li>
            <li>И самое главное — неповторимая атмосфера среди таких же фанатов и единомышленников, которые понимают!</li>
          </ul>
        </div>
      </li>
      <li class="splide__slide">
        <div class="slider-item">
          <h3>Еще слайд</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit omnis facere ipsum aperiam error sapiente dolores ea inventore quisquam doloribus provident corrupti unde molestiae saepe ab consectetur, ut atque necessitatibus?</p>
          <p>Consectetur iure nihil exercitationem hic magni. Hic libero veniam magni laudantium amet quae! Praesentium adipisci facere quis quasi sunt obcaecati, odit unde, repudiandae nulla ea fugit eaque odio numquam sit!</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="gallery">
  <div class="container">
    <h2 class="title">ПРИХОДИ НА<br> Isekai Fest 2024!</h2>
    <h3 class="subtitle">Главное оффлайн-событие РуАниме (DEEP)</h3>
    <div class="splide gallery-slider">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide"><iframe src="https://vk.com/video_ext.php?oid=-215265276&id=456239032&hd=2&hash=7c4e524c87e7ffed&autoplay=1" width="100%" height="100%" allow="encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe></li>
          <li class="splide__slide"><img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/programm2023-1024x814.png" alt="" loading="lazy"></li>
          <li class="splide__slide"><img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/photo_2023-08-22_11-11-22-768x1024.jpg" alt="" loading="lazy"></li>
          <li class="splide__slide"><img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/gallery-1-1024x586.jpg" alt="" loading="lazy"></li>
          <li class="splide__slide"><img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/gallery-2-1024x680.jpg" alt="" loading="lazy"></li>
          <li class="splide__slide"><img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/gallery-3-1024x680.jpg" alt="" loading="lazy"></li>
          <li class="splide__slide"><img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/gallery-4-1024x680.jpg" alt="" loading="lazy"></li>
          <li class="splide__slide"><img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/gallery-5-1024x680.jpg" alt="" loading="lazy"></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="guest">
  <div class="container">
    <h2 class="title">НАШИ ГОСТИ</h2>
    <div class="splide guest-slider">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/denis-kuzmichyov-768x768.jpg" alt="" loading="lazy">
          <span>Ведущий</span>
          <h3>Денис Кузьмичёв</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/daniella-768x768.jpg" alt="" loading="lazy">
          <span>Ведущий</span>
          <h3>Даниэлла</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/volhaross-768x768.jpg" alt="" loading="lazy">
          <span>Ведущий</span>
          <h3>Volhaross</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/shoma-tos--768x768.jpg" alt="" loading="lazy">
          <h3>Shoma Tos</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/mightyraccoon-768x768.jpg" alt="" loading="lazy">
          <h3>MightyRaccoon</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/mamoru-kun-768x768.jpg" alt="" loading="lazy">
          <h3>Mamoru-kun</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/le_atlass-768x768.jpg" alt="" loading="lazy">
          <h3>Le_Atlass</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/kotin-cosplay-768x768.jpg" alt="" loading="lazy">
          <h3>Kotin cosplay</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/kcioxan-768x768.jpg" alt="" loading="lazy">
          <h3>KcIOxan</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/bygreenorg--768x768.jpg" alt="" loading="lazy">
          <h3>ByGreenOrg</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/blooms-768x768.jpg" alt="" loading="lazy">
          <h3>BLOOM&#8217;s</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/alice01-cosplay-768x768.jpg" alt="" loading="lazy">
          <h3>Alice01 Cosplay</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/adelhaid-768x768.jpg" alt="" loading="lazy">
          <h3>Adelhaid</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/yaroslava-768x768.jpg" alt="" loading="lazy">
          <h3>Ярослава</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/elevate-2023-768x768.jpg" alt="" loading="lazy">
          <h3>ELEVATE</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/tatyana-borzova-2023-768x768.jpg" alt="" loading="lazy">
          <h3>Татьяна Борзова</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/nikol-koulen-2023-768x768.jpg" alt="" loading="lazy">
          <h3>Nikol Koulen</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/fate-inc.-2023-768x768.jpg" alt="" loading="lazy">
          <h3>FATE INC.</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/dva-hikana-2023-768x768.jpg" alt="" loading="lazy">
          <h3>Два ХИкана</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/georgij-karmryan-2023-768x768.jpg" alt="" loading="lazy">
          <h3>Георгий Кармрян</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/egor-vasilev-2023-768x768.jpg" alt="" loading="lazy">
          <h3>Егор Васильев</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/kim-reset-2023-768x768.jpg" alt="" loading="lazy">
          <h3>Kim Reset</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/flutterow-768x768.jpg" alt="" loading="lazy">
          <h3>flutterow</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/k1sa4ik-768x768.jpg" alt="" loading="lazy">
          <h3>k1sa4ik</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/loli-samurai-768x768.jpg" alt="" loading="lazy">
          <h3>Loli Samurai</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/kamiko-zero-768x768.jpg" alt="" loading="lazy">
          <h3>Kamiko Zero</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/silv-768x768.jpg" alt="" loading="lazy">
          <h3>Silv</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/sofia-lovegood-768x768.jpg" alt="" loading="lazy">
          <h3>Sofia Lovegood</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/trixie_vox-768x768.jpg" alt="" loading="lazy">
          <h3>Trixie_Vox</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/aleksandr-filchenko-768x768.jpg" alt="" loading="lazy">
          <h3>Александр Фильченко</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/ahill-namazov-768x768.jpg" alt="" loading="lazy">
          <h3>Ахилл Намазов</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/viktoriya-czoj-768x768.jpg" alt="" loading="lazy">
          <h3>Виктория Цой</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/georgij-danielyanecz-768x768.jpg" alt="" loading="lazy">
          <h3>Георгий Даниелянц</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/08/vladislav-tokarev-768x768.jpg" alt="" loading="lazy">
          <h3>Владислав Токарев</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/guest-4.jpg" alt="" loading="lazy">
          <h3>Jackie-O</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/guest-3.jpg" alt="" loading="lazy">
          <h3>Евгений Краснов</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/guest-13.jpg" alt="" loading="lazy">
          <h3>Gufee</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/guest-14.jpg" alt="" loading="lazy">
          <h3>Александр Lupin</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/guest-7.jpg" alt="" loading="lazy">
          <h3>TarelkO</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/guest-9.jpg" alt="" loading="lazy">
          <h3>AniZoro</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/guest-11.jpg" alt="" loading="lazy">
          <h3>Дмитрий Dejz</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/guest-5.jpg" alt="" loading="lazy">
          <h3>SteinHolic</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/guest-1.jpg" alt="" loading="lazy">
          <h3>GraysonFin</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/guest-12.jpg" alt="" loading="lazy">
          <h3>AnaShape</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/guest-15.jpg" alt="" loading="lazy">
          <h3>MaoDanon</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/guest-10.jpg" alt="" loading="lazy">
          <h3>Виктор Гутман</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/guest-6.jpg" alt="" loading="lazy">
          <h3>Никита Моисеев</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/guest-16.jpg" alt="" loading="lazy">
          <h3>Александр Sharon</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/guest-8.jpg" alt="" loading="lazy">
          <h3>Кирилл Соеров</h3>
          </div></li>
          <li class="splide__slide"><div class="guest-item">
          <img src="https://isekaiwp.dev-slava.ru/wp-content/uploads/2023/07/guest-2.jpg" alt="" loading="lazy">
          <h3>Ислам Ганджаев</h3>
          </div></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="tickets" id="tickets">
  <img src="img/svg/star.svg" alt="" class="tickets-star-1">
  <img src="img/svg/star.svg" alt="" class="tickets-star-2">
  <img src="img/svg/star.svg" alt="" class="tickets-star-3">
  <div class="container">
    <h2 class="title">КАТЕГОРИИ БИЛЕТОВ</h2>
    <div class="tickets-grid">
      <div class="tickets-item">
        <div class="tickets-head">
          <span>Стандарт</span>
          <b>Сб 10.08</b>
          <h3>1500 <small>Руб.</small></h3>
        </div>
        <ul class="tickets-list">
          <li>Входной билет действует на один из дней фестиваля</li>
          <li>Доступ на весь день. С 12:00 - 20:00, вход до 19:00</li>
          <li>Вход/выход разрешен</li>
        </ul>
        <button onclick="window.TLIframe.showPopup({url: 'https://ticketland.ru/drugoe/kinokoncern-mosfilm/isekai-fest-2024/20240810_1200-5291860'});" class="tickets-btn">Купить билет</button>
      </div>
      <div class="tickets-item">
        <div class="tickets-head">
          <span>Стандарт</span>
          <b>Вск 11.08</b>
          <h3>1500 <small>Руб.</small></h3>
        </div>
        <ul class="tickets-list">
          <li>Входной билет действует на один из дней фестиваля</li>
          <li>Доступ на весь день. С 12:00 - 20:00, вход до 19:00</li>
          <li>Вход/выход разрешен</li>
        </ul>
        <button onclick="window.TLIframe.showPopup({url: 'https://ticketland.ru/drugoe/kinokoncern-mosfilm/isekai-fest-2024/20240811_1200-5291860'});" class="tickets-btn">Купить билет</button>
      </div>
      <div class="tickets-item vip">
        <div class="tickets-head">
          <span>VIP</span>
          <b>Все дни</b>
          <h3>7000 <small>Руб.</small></h3>
        </div>
        <ul class="tickets-list">
          <li>Проход на мероприятия с ранним доступом с 11:00 - 20:00, вход до 19:00</li>
          <li>Отдельный вход для VIP-посетителей, позволяющий пройти на территорию выставки в любое время работы фестиваля</li>
          <li>Бэйдж VIP-посетителя</li>
          <li>Доступ в VIP-зону</li>
          <li>Комплект VIP-участника с символикой фестиваля, включающий эксклюзивные сувениры от организаторов</li>
          <li>Автограф/фото сессия с гостями фестиваля</li>
        </ul>
        <button onclick="window.TLIframe.showPopup({url: 'https://ticketland.ru/drugoe/kinokoncern-mosfilm/isekai-fest-2024/20240810_1100-5291859'});" class="tickets-btn">Купить билет</button>
      </div>
      <div class="tickets-item super-vip">
        <div class="tickets-head">
          <span>Super VIP</span>
          <b>Все дни</b>
          <h3>15000 <small>Руб.</small></h3>
          <img src="img/hero-maskot.png" alt="">
        </div>
        <ul class="tickets-list">
          <li>Билет дает доступ на все дни. </li>
          <li>Проход на мероприятия с ранним доступом с 11:00 - 20:00, вход до 19:00;</li>
          <li>Отдельный вход для VIP-посетителей, позволяющий пройти на территорию выставки в любое время работы фестиваля;</li>
          <li>Персональный именной бэйдж VIP-посетителя;</li>
          <li>Доступ в VIP-зону с эксклюзивными лекциями и встречами</li>
          <li>Специальные места на показах в кинотеатре фестиваля</li>
          <li>Автограф/фото сессия с гостями фестиваля с приоритетным доступом</li>
          <li>Комплект Super VIP-участника с символикой выставки, включающий эксклюзивные сувениры от организаторов выставки</li>
        </ul>
        <button onclick="window.TLIframe.showPopup({url: 'https://ticketland.ru/drugoe/kinokoncern-mosfilm/isekai-fest-2024/20240810_1100-5291861'});" class="tickets-btn">Купить билет</button>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  var TLConf = {
    accessHash: "5f83a5ff50840b6515f3a02d707b2f37",
    version: 1,
  };
</script>
<script async src="https://www.ticketland.ru/iframe/loaderJs/"></script>

{% endblock %}